

<footer>
  <div id="footDiv" class="card">
  <div class="card-footer">
   43rd Street Records ///
   <form class="d-flex" id="search" method="POST" action="/search">
     <input class="form-control me-2" name="searchTerm" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success" type="submit">Search</button>
   </form>
  </div>

  <div class="card-body">

    <p class="card-text">The city's largest selection of NEW and USED vinyl. <br/> We BUY used vinyl! <br/> Store Hours: <br/> Tuesday - Saturday: 9am to 7pm</p>
    <br/>
    <br/>
    <ul id="new" style="text-align: center;">
        <% if (currentUser) { %>
          <li style="margin-bottom: 2px;">Welcome <%=currentUser.fullname%>!</li>
          <li style="margin-bottom: 2px;">
            <a href="/new" class="btn btn-success btn-sm">Add New</a>
          </li>
          <li style="margin-bottom: 2px;">
            <form action="/login?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-primary btn-sm" value="Log Out"  />
          </li>
    <% } %>
    </ul>
  </div>



</footer>
