

<footer class="bg-dark py-5 mt-5">

  <div class="container text-bold text-left" style="color: white; font-weight: bold;">
   43rd Street Records ///


   <form id="search" action="/search/" method="GET">
     <input class="form-control me-2" type="text" name="search"  placeholder="Search Album Title" value="">
   </form>




    <p style="color: white; postion: absolute; left: 25px; bottom: 240px;">The city's largest selection of NEW and USED vinyl. <br/> We BUY used vinyl! <br/> Store Hours: <br/> Tuesday - Saturday: 9am to 7pm <br/> Sunday: 12pm to 5pm </p>
    <br/>
    <br/>
    <ul id="new" style="text-align: center;">
        <% if (currentUser) { %>
          <li style="margin-bottom: 2px;">Welcome <%=currentUser.fullname%>!</li>
          <li style="margin-bottom: 2px;">
            <a href="/new" class="btn btn-success btn-sm">Add New</a>
          </li>
          <li style="margin-bottom: 2px;">
            <form action="/login?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-primary btn-sm" value="Log Out"  />
          </li>
    <% } %>
    </ul>
  </div>



</footer>
