

<header style="background-color: rgb(33,35,39,.88);">
<a href='/' style='text-decoration: none; color: white;'>
<h1 id='header'><img id='logo' src="https://www.pngitem.com/pimgs/m/12-124076_vinyl-records-png-product-coalition-logo-transparent-png.png"/> 43rd Street Records /// </h1>
</a>

</header>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Browse Records by Genre
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/rock">Rock</a></li>
    <li><a class="dropdown-item" href="/country">Country</a></li>
    <li><a class="dropdown-item" href="/jazz">Jazz</a></li>
    <li><a class="dropdown-item" href="/authors">Blog</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/login">Login</a></li>
    <li><a class="dropdown-item" href="/register">Register</a></li>
  </ul>
</div>
