<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/header.ejs') %>

    <ul id='recordList'>
      <% for (let i = 0; i < records.length; i++) { %>
        <li >
          <a href='/<%=records[i].id%>'>
          <img class='images' src='<%=records[i].cover%>' />
          </a>
        </li>

      <% } %>
    </ul>

  <button>
    <a href="/new">Add New Inventory</a>
  </button>

</body>
</html>
