<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>

  <body>
    <%- include ('./partials/header.ejs') %>

    <ul id='homepage'>
      <% for (let i = 0; i < records.length; i++) { %>
        <li>
          <a href='/<%=records[i].id%>'>
          <img src='<%=records[i].cover%>' />
          </a>
        </li>

      <% } %>
    </ul>

  </body>
</html>
