<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello World!</h1>

    <ul>
      <% for (let i = 0; i < records.length; i++) { %>
        <li>
          <img src='<%=records[i].cover%>' />
        </li>

      <% } %>
    </ul>

  </body>
</html>
