/* STYLESHEET */


/* HEADER PARTIAL */

header {
  background-color: lightgrey;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

#logo {
  width: 70px;
  height: auto;
}

#new {
  position: absolute;
  right: 0;
  bottom: 0;

}

/* FOOTER */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footDiv {
  height: 170px;
  margin: 20px;
}

#search {
  width: 250px;
  position: absolute;
  top: 2px;
  right: 2px;
}

/* LISTS */

#recordList {
  list-style: none;
}

/* INDEX PAGE */

#albumArt {
  text-align: left;
  width: auto;
  height: auto;
}

.images {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.frontPage {
  position: absolute;
  right: 0;
  width: 75%;
  top: 100px;
}

/* SHOW PAGE */




/* CAROUSEL */
.cc {
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.carouselImages {
	width: 50%;
}

.carouselImages img {
	width: 100%;
	display: none;
}

.carouselImages img:first-of-type {
	display: block;
}

.carousel-button {
	align-self: center;
	padding: 10px;

}
.carousel-button:hover {
	cursor: pointer;
}










@media (max-width: 509px) {
  header {
    height: 55px;
  }

  .dropdown {
    top: 60px;
    left: 0;
  }
  #frontH1 {
    font-size: 20px;
  }

  #search {
    top: 200px;
    left: 2px;
  }
  .images {
    width: 80px;
    height: 80px;
  }
  #footDiv {
    height: 300px;
  }

}
