/* STYLESHEET */


/* HEADER PARTIAL */

header {
  background-color: lightgrey;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

#logo {
  width: 70px;
  height: auto;
}

#new {
  position: absolute;
  right: 0;
  bottom: 0;

}

/* LISTS */

#recordList {
  list-style: none;
}

/* INDEX PAGE */

.images {
  width: 20%;
  height: 20%;
}

.frontPage {
  position: absolute;
  top: 100px;
}

/* SHOW PAGE */




/* CAROUSEL */
.cc {
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.carouselImages {
	width: 50%;
}

.carouselImages img {
	width: 100%;
	display: none;
}

.carouselImages img:first-of-type {
	display: block;
}

.carousel-button {
	align-self: center;
	padding: 10px;

}
.carousel-button:hover {
	cursor: pointer;
}










@media (max-width: 400px) {
  header {
    height: 55px;
  }
  .dropdown {
    top: 60px;
    left: 0;
  }
  #frontH1 {
    font-size: 20px;
  }


}
